
body{
    background: #6699ff;
}

.pnlTitle{
    width: 800px;
    height: 180px;
    font-family: Comic Sans Ms;
    border-top: darkgoldenrod 10px ridge ;
    border-bottom: darkgoldenrod 10px ridge ;
    border-left: darkgoldenrod 10px ridge ;
    border-right: darkgoldenrod 10px ridge ;
    color: darkgoldenrod;
    text-shadow: 3px 3px 3px gold;
    font-size: 6.0em;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background: black;  
    border-radius:20px;
    /*background-image: */
    
}
img{
    width: 90px;
    height: 90px;
    background-color: black;
}
.pnlBody{
    width: 800px;
    height: 340px;
    font-family: Comic Sans Ms;
    color: darkgoldenrod;
    border-top: darkgoldenrod 10px ridge ;
    border-bottom: darkgoldenrod 10px ridge ;
    border-left: darkgoldenrod 10px ridge ;
    border-right: darkgoldenrod 10px ridge ;   
    border-radius:20px;
    margin: 10px auto auto auto;
    vertical-align: middle;
    background: black;  
    font-size: 1.6em;
    
}
.pnlLine{
    width: 800px;
    height: 100px;
    
}
#textW{
     position: relative;
     top: 10px;
     right:-360px;
     
     
     
}
#imgW{
    position: relative;
     top: -50px;
     right: -450px;
}
#textA{
     position: relative;
     top: 30px;
     right: -100px;
     
     
}
#imgA{
    position: relative;
     top: -20px;
     right: -250px;
}
#textD{
     position: relative;
     top: -170px;
     right: -540px;
     
     
}
#imgD{
    position: relative;
     top: -105px;
     right: -460px;
}
#textS{
     position: relative;
     top: -40px;
     right: -460px;
     
     
}
#imgS{
    position: relative;
     top: 20px;
     right:-360px;
}
a {
	text-decoration: none;
}
.divButton{
    margin: 10px auto 10px auto;    
    background: darkgoldenrod;
    width: 100px;
    height: 20px;   
    border-radius:40px;
     border-top: darkgoldenrod 10px outset ;
    border-bottom: darkgoldenrod 10px outset ;
    border-left: darkgoldenrod 10px outset ;
    border-right: darkgoldenrod 10px outset ; 
    font-size: 1.2em;
    font-weight: bold;
    color:black;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    
}

.divButton:hover{
    background: blue ;
     border-top: blue 10px outset ;
    border-bottom: blue 10px outset ;
    border-left: blue 10px outset ;
    border-right: blue 10px outset ;
    cursor: pointer;
}