/*

*/
body{
    background: #ccccff;
}
table{
    border-style: none;
    margin: auto auto auto auto;
   
    border-spacing: 0;
}
table tr,td{
    border-style: none;
    padding: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}
.divInfo{
    
    color: black;
    text-shadow: 1px 1px 1px white;     
    background: darkgoldenrod;
    border-radius:20px;
     border-top: darkgoldenrod 10px outset ;
    border-bottom: darkgoldenrod 10px outset ;
    border-left: darkgoldenrod 10px outset ;
    border-right: darkgoldenrod 10px outset ;
    text-align: center;
    margin: auto auto 20px auto;
    font-family: Comic Sans Ms;
    font-size: 1.3em;
    width: 600px;
    
    
}
.divInfo div{
    border-width: 2px;
    display: inline-block;
    width: 24%;
    vertical-align: top;
    
    
}
div .edtWhite{
		background: white;
		border-radius:10px;
		width: 50%;
}
.divFoot{
    margin: 20px auto auto auto;
    
}
.divFoot div{
    width: 20%;
    margin: auto;
    color: black;
    display: inline;
    text-shadow: 1px 1px 1px white;     
    background: darkgoldenrod;
    border-radius:20px;
     border-top: darkgoldenrod 10px outset ;
    border-bottom: darkgoldenrod 10px outset ;
    border-left: darkgoldenrod 10px outset ;
    border-right: darkgoldenrod 10px outset ;
    text-align: center;
    font-family: Comic Sans Ms;
    font-size: 1.0em;
    
    
}
a{
    text-decoration: none;
}
.divFoot div:hover{
    background: blue ;
     border-top: blue 10px outset ;
    border-bottom: blue 10px outset ;
    border-left: blue 10px outset ;
    border-right: blue 10px outset ;
    cursor: pointer;
}
#nextPhase{
    display:inline;
}
#divDataMap{
    display: none;
}