body{
    background: #6699ff;
}
.divLogo{
    width: 800px;
    height: 140px;
    font-family: Comic Sans Ms;
    border-top: darkgoldenrod 10px ridge ;
    border-bottom: darkgoldenrod 10px ridge ;
    border-left: darkgoldenrod 10px ridge ;
    border-right: darkgoldenrod 10px ridge ;
    
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background: black;  
    border-radius:20px;
    color: darkgoldenrod;
    margin: auto;
    font-size: 5.0em;
    text-shadow: 3px 3px 3px gold;
    
}
table{
    width: 600px;
    font-family: Comic Sans Ms;
    color: darkgoldenrod;
    border-top: darkgoldenrod 10px ridge ;
    border-bottom: darkgoldenrod 10px ridge ;
    border-left: darkgoldenrod 10px ridge ;
    border-right: darkgoldenrod 10px ridge ;   
    border-radius:20px;
    margin: 10px auto auto auto;
    text-align: center;
    vertical-align: middle;
    background: black;  
    /*background-image: */
    
}
table th{
	font-size: 1.5em;
}
a {
	text-decoration: none;
}
.divButton{
    margin: 10px auto 10px auto;    
    background: darkgoldenrod;
    width: 100px;
    height: 20px;   
    border-radius:40px;
     border-top: darkgoldenrod 10px outset ;
    border-bottom: darkgoldenrod 10px outset ;
    border-left: darkgoldenrod 10px outset ;
    border-right: darkgoldenrod 10px outset ; 
    font-size: 1.2em;
    font-weight: bold;
    color:black;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    
}

.divButton:hover{
    background: blue ;
     border-top: blue 10px outset ;
    border-bottom: blue 10px outset ;
    border-left: blue 10px outset ;
    border-right: blue 10px outset ;
    cursor: pointer;
}